<%= render "shared/navbar", {text:"Add Category", path:root_path, visible:"visible"} %>
<%= render "shared/flash_messages" %>
<div class="container mt-3">
  <%= form_with model: @category, url:categories_path do |f| %>
    <div class="form-group mb-3">
      <%= f.text_field :name,  class:"form-control", Placeholder:"Name"%>
    </div>
    <div class="form-group mb-3">
      <em class="text-muted">Add your icon url here</em>
      <%= f.text_field :icon, class:"form-control", placeholder:"Icon" %>
    </div>
    <%= f.submit "Add Category",class:"btn btn-primary btn-sm" %>
  </div>
<% end %>
